body {
  font-family: "PT Mono", monospace;
  font-family: "Roboto", sans-serif;
  font-family: "Train One", cursive;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

h1 {
  font-family: "Great Vibes", cursive;
  text-align: center;
}

h2 {
  font-family: "Neuton", serif;
  text-align: center;
  font-size: larger;
}
